@charset "UTF-8";
/************** RESET ***************/
/*
  Con este reset vamos a resolver:
    👉 Unificar el uso de Custom Properties
    👉 Problemas de box-model más generales
    👉 Problemas con imagenes, vídeos e iconos svg
    👉 Problemas con tipografías y etiquetas input en formularios
    👉 Unificar la tipografía de todas las etiquetas de una web
*/
/* Aquí definimos las Custom properties */
:root {
  --color-primary: #272727;
  --color-secondary: #D4AA7D;
  --color-bg: #272727;
  --color-bg2: #151314;
  --color-text: #EFD09E;
  --color-h2: #D2D8B3;
  --color-hover: #D2D8B3;
  --color-btn:#d4aa7d81;
  --color-line: #d4aa7d81;
  --font-main: "Quicksand", sans-serif;
  --font-secondary: "Roboto Serif", serif;
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: black ;
  }
}
/* Opcional */
/* Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* Opcional */
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
    animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
  object-fit: cover;
  /* opcional */
  -o-object-position: center center;
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
  display: inline;
  width: initial;
} 
*/
/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--font-main);
  color: var(--color-text);
  background-color: var(--color-primary);
  /* opcional */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

.etiqueta {
  width: 1%;
  /* Siempre en %, a excepción de algún icono o círculo */
  max-width: 1px;
  /*  Siempre en PX / REM */
}

* {
  /*box-shadow: 0 0 0 1px rgba(0, 255, 4, 0.4);*/
}

body {
  color: var(--color-text);
}

.span {
  color: var(--color-hover);
}

.header__container {
  width: 98%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}
.header__svg-logo {
  width: 4rem;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.header__svg-logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.header__svg-logo:hover .logo-ellipse {
  stroke: var(--color-hover);
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.header__svg-logo:hover .logo-txt {
  fill: var(--color-hover);
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.header__box-svg-menu {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-text);
  display: none;
}
.header__svg-menu {
  width: 3rem;
  height: 3rem;
  color: var(--color-primary);
  cursor: pointer;
}
.header__nav-menu {
  width: 80%;
  font-size: 1.3em;
}
@-webkit-keyframes slideRight {
  from {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@keyframes slideRight {
  from {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
.header__nav-menu.activo {
  width: 70%;
  background-color: mediumslateblue;
  border-radius: 50% 50%;
  font-size: 1.1em;
  z-index: 1;
  position: absolute;
  top: -88%;
  right: -9%;
}
.header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__ul.activo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10rem 7rem;
}
.header__li {
  margin: 0 0 0 10%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header__li :hover {
  color: var(--color-hover);
}
.header__li.activo {
  background-color: rgb(210, 0, 0);
  margin-bottom: 1rem;
}
.header__a-nav {
  padding: 0.4rem 1.2rem;
  border: 1px solid var(--color-btn);
  color: var(--color-btn);
  border-radius: 0.5rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header__a-nav:hover {
  border: 1px solid var(--color-hover);
}

.section__name {
  width: 100%;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.section__name::before {
  content: "";
  display: block;
  width: 100%;
  height: 90%;
  background-color: var(--color-bg2);
  border-top: 1px solid var(--color-line);
  border-bottom: 1px solid var(--color-line);
  position: absolute;
  top: 8%;
  left: 0;
  -webkit-transform: skew(0, 4deg);
          transform: skew(0, 4deg);
}
.section__name-h1 {
  font-size: 6em;
  font-weight: 600;
  -webkit-transform: translateX(-25%);
          transform: translateX(-25%);
  position: relative;
  overflow: hidden;
}
.section__name-h1::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(21, 19, 20, 0)), to(rgba(21, 19, 20, 0.95)));
  background: linear-gradient(90deg, rgba(21, 19, 20, 0) 0%, rgba(21, 19, 20, 0.95) 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.section__name-h1::after {
  content: "";
  display: block;
  width: 120%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(21, 19, 20, 0)), color-stop(11%, rgb(21, 19, 20)));
  background: linear-gradient(90deg, rgba(21, 19, 20, 0) 0%, rgb(21, 19, 20) 11%);
  position: absolute;
  bottom: 0;
  left: -20%;
  z-index: 2;
  -webkit-animation: slideRight 3s ease-out both;
          animation: slideRight 3s ease-out both;
}
@keyframes slideRight {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
.section__name-h2 {
  font-size: 5em;
  font-weight: 600;
  color: var(--color-h2);
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
  overflow: hidden;
}
.section__name-h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, from(rgba(21, 19, 20, 0)), to(rgba(21, 19, 20, 0.95)));
  background: linear-gradient(270deg, rgba(21, 19, 20, 0) 0%, rgba(21, 19, 20, 0.95) 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.section__name-h2::before {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  background: rgb(21, 19, 20);
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-animation: slideLeft 3s ease-out both;
          animation: slideLeft 3s ease-out both;
}
@-webkit-keyframes slideLeft {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes slideLeft {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
.section__name-box-text {
  width: 90%;
  max-width: 30rem;
  font-size: 1.2em;
  position: absolute;
  bottom: 3%;
  right: 3%;
  -webkit-transition: all 0.9s ease;
  transition: all 0.9s ease;
}
.section__name-box-text:hover {
  color: var(--color-hover);
}

.section__projects {
  padding-bottom: 10rem;
}
.section__projects-h3 {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  font-size: 2em;
  font-weight: 600;
}
.section__projects-wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 5rem auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5rem 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
}
.section__projects-box-foto {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}
.section__projects-box-foto:hover .section__projects-p {
  -webkit-animation: goOut 0.7s ease 1 both;
          animation: goOut 0.7s ease 1 both;
}
.section__projects-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.section__projects-overlay {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.section__projects-overlay:hover {
  opacity: 0.2;
}
.section__projects-p {
  width: 100%;
  color: var(--color-text);
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 600;
  padding: 0.5rem 0;
  background-color: var(--color-primary);
  text-align: center;
  opacity: 0;
  position: absolute;
}
@-webkit-keyframes goOut {
  from {
    opacity: 0;
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
  to {
    opacity: 0.8;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@keyframes goOut {
  from {
    opacity: 0;
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
  to {
    opacity: 0.8;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.section__about {
  position: relative;
  padding: 5rem 0;
}
.section__about::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--color-bg2);
  position: absolute;
  top: 0;
  z-index: 1;
  border-top: 1px solid var(--color-line);
  border-bottom: 1px solid var(--color-line);
  -webkit-transform: skew(0, 4deg);
          transform: skew(0, 4deg);
  pointer-events: none;
}
.section__about-h3 {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  font-size: 2em;
  font-weight: 600;
  z-index: 2;
  position: relative;
}
.section__about-wrapper-grid {
  width: 90%;
  max-width: 1200px;
  margin: 5rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 2;
}
.section__about-img {
  opacity: 0.5;
  border-radius: 1rem;
  width: 40%;
  max-width: 1200px;
  margin: 0 3% 0 0;
}
.section__about-p-name {
  font-size: 1.5em;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin: 0 0 0.5rem 0;
}
.section__about-txt-about {
  font-size: 1.1em;
  line-height: 1.4;
}
.section__about-txt-about:hover {
  color: var(--color-hover);
}
.section__about-h4 {
  text-align: start;
  font-size: 1.5em;
  font-weight: 600;
  margin: 7% 0;
}
.section__about-h4::after {
  content: "";
  display: block;
  background-color: var(--color-line);
  height: 1px;
}
.section__about-year {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  margin: 0 0 4% 0;
}
.section__about-data {
  font-size: 1.4em;
  font-weight: 600;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.section__about-data:hover {
  color: var(--color-hover);
}
.section__about-p {
  font-size: 1.2em;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.section__about-p:hover {
  color: var(--color-hover);
}

.section__contactos {
  padding-bottom: 4rem 0 0 0;
}
.section__contactos-h3 {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  font-size: 2em;
  font-weight: 600;
}
.section__contactos-wrapper {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.section__contactos-txt {
  font-size: 1.2em;
  margin: 0 0 2rem 0;
}
.section__contactos-rrss {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section__contactos-svg {
  width: 2rem;
  height: 2rem;
  margin: 0 2rem 0 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.section__contactos-svg:hover {
  color: var(--color-hover);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.section__contactos-p {
  margin: 0 0 0 1rem;
}

.a__arrow {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1;
}
.a__arrow-arrow-up {
  width: 2rem;
  height: 2rem;
  opacity: 0.5;
  color: white;
}

/*--------------------RESPONSIVE--------------------*/
@media screen and (max-width: 1750px) {
  .section__name-h1 {
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
}
@media screen and (max-width: 1450px) {
  .section__name-h1 {
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    -webkit-transform: translateX(-15%);
            transform: translateX(-15%);
  }
}
@media screen and (max-width: 1300px) {
  .section__name-box-name {
    text-align: center;
  }

  .section__name-h1 {
    -webkit-transition: all 0.9s ease;
    transition: all 0.9s ease;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }

  .section__name-h2 {
    -webkit-transition: all 0.9s ease;
    transition: all 0.9s ease;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }

  .section__projects-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .section__projects-box-foto {
    width: 60%;
  }
}
@media screen and (max-width: 1170px) {
  .header__container {
    width: 98%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .section__name-box-text {
    width: 90%;
    max-width: 25rem;
    font-size: 1em;
  }
}
@media screen and (max-width: 1000px) {
  .section__name-h1 {
    font-size: 5em;
  }

  .section__name-h2 {
    font-size: 4em;
  }
}
@media screen and (max-width: 900px) {
  .section__about-wrapper-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .section__about-img {
    width: 100%;
  }
}
@media screen and (max-width: 850px) {
  .section__name-h1 {
    font-size: 4em;
  }

  .section__name-h2 {
    font-size: 3em;
  }

  .section__name-box-text {
    font-size: 0.9em;
    bottom: 5%;
  }

  .header__svg-logo {
    width: 3rem;
  }

  .header__nav-menu {
    width: 80%;
    font-size: 1.1em;
  }

  .header__a-nav {
    padding: 0.3rem 1.1rem;
  }
}
@media screen and (max-width: 660px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }

  .header__nav-menu {
    display: none;
  }

  .header__box-svg-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: -17%;
    right: -4%;
  }

  .section__name-h1 {
    font-size: 3em;
  }

  .section__name-h2 {
    font-size: 2em;
  }

  .section__name-box-text {
    max-width: 20rem;
    font-size: 0.8em;
    bottom: 7%;
  }

  .section__about-data {
    font-size: 1.2em;
    font-weight: 500;
  }

  .section__about-p {
    font-size: 1em;
  }
}