@charset "UTF-8";
/************** RESET ***************/
/*
  Con este reset vamos a resolver:
    游녤 Unificar el uso de Custom Properties
    游녤 Problemas de box-model m치s generales
    游녤 Problemas con imagenes, v칤deos e iconos svg
    游녤 Problemas con tipograf칤as y etiquetas input en formularios
    游녤 Unificar la tipograf칤a de todas las etiquetas de una web
*/
/* Aqu칤 definimos las Custom properties */
:root {
  --color-primary: #272727;
  --color-secondary: #D4AA7D;
  --color-bg: #272727;
  --color-bg2: #151314;
  --color-text: #EFD09E;
  --color-h2: #D2D8B3;
  --color-hover: #D2D8B3;
  --color-btn:#d4aa7d81;
  --color-line: #d4aa7d81;
  --font-main: "Quicksand", sans-serif;
  --font-secondary: "Roboto Serif", serif;
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: black ;
  }
}
/* Opcional */
/* Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* Opcional */
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
    animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
  object-fit: cover;
  /* opcional */
  -o-object-position: center center;
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en p치rrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipograf칤as y colocaci칩n de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* (Prob치ndolo, no usar en producci칩n) En el caso de a침adir una  */
/* p svg{
  display: inline;
  width: initial;
} 
*/
/* Configuramos la tipograf칤a para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--font-main);
  color: var(--color-text);
  background-color: var(--color-primary);
  /* opcional */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

.etiqueta {
  width: 1%;
  /* Siempre en %, a excepci칩n de alg칰n icono o c칤rculo */
  max-width: 1px;
  /*  Siempre en PX / REM */
}

* {
  /*box-shadow: 0 0 0 1px rgba(0, 255, 4, 0.4);*/
}

body {
  color: var(--color-text);
}

.span {
  color: var(--color-hover);
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.header__container {
  width: 98%;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.header__svg-logo {
  width: 4rem;
  transition: all 1s ease;
}
.header__svg-logo:hover {
  transform: scale(1.1);
}
.header__svg-logo:hover .logo-ellipse {
  stroke: var(--color-hover);
  transition: all 0.7s ease;
}
.header__svg-logo:hover .logo-txt {
  fill: var(--color-hover);
  transition: all 0.7s ease;
}
.header__box-svg-menu {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--color-text);
  display: none;
}
.header__svg-menu {
  width: 3rem;
  height: 3rem;
  color: var(--color-primary);
  cursor: pointer;
}
.header__nav-menu {
  width: 80%;
  font-size: 1.3em;
}
.header__ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}
.header__li {
  margin: 0 0 0 10%;
  transition: all 0.5s ease;
}
.header__li :hover {
  color: var(--color-hover);
}
.header__a-nav {
  padding: 0.4rem 1.2rem;
  border: 1px solid var(--color-btn);
  color: var(--color-btn);
  border-radius: 0.5rem;
  transition: all 0.5s ease;
}
.header__a-nav:hover {
  border: 1px solid var(--color-hover);
}

/* 
쯇orqu칠 me salta en una medida? margin: 15% 0 0 0
Cuando alineamos tenemos 2 formas de hacerlo:
    - Usando min-height y flex
    - Usando padding 
    - Usando padding + flex (opcional)

Cuando tenemos un t칤tulo, recuerda en el reset hay una l칤nea line-height:1.4em;
El Before es 100% visual, es decir que no afecta a la estructura de la secci칩n.
Habr치 que tocar el height y el top para que "visualmente" se adapte a la contenedora.

El texto de presentaci칩n debe de ser absolute ya que lo queremos en el borde inferior derecho de la secci칩n. 
*/
.section__name {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
.section__name::before {
  content: "";
  display: block;
  width: 100%;
  height: 90%;
  background-color: var(--color-bg2);
  border-top: 1px solid var(--color-line);
  border-bottom: 1px solid var(--color-line);
  position: absolute;
  top: 8%;
  left: 0;
  transform: skew(0, 4deg);
}
.section__name-h1 {
  font-size: 6em;
  font-weight: 600;
  transform: translateX(-25%);
}
.section__name-h2 {
  font-size: 5em;
  font-weight: 600;
  transform: translateX(20%);
}
.section__name-box-text {
  width: 90%;
  max-width: 30rem;
  font-size: 1.2em;
  position: absolute;
  bottom: 3%;
  right: 3%;
}
.section__name-box-text:hover {
  color: var(--color-hover);
}

/* .section__name{
    width:100%;
    // background-color: rgba(255, 0, 0, 0.162);
    min-height: 80vh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;



    &::before{
        content: '';
        display: block;
        width:100%;
        height:88%;
        background-color: rgba(0, 255, 255, 0.382);
        background-color: black;
        position: absolute;
        top:6%;
        left:0;

        border-top:1px solid gold;
        border-bottom:1px solid gold;
        transform: skewY(4deg);
    }

    &-box-name{
    //    background-color: lime;
       line-height: 4em;
    }

    &-h1{
        // background-color: crimson;
        font-size: 3em;
        transform: translateX(-25%);
    }
    &-h2{
        // background-color: crimson;
        font-size: 4em;
        transform: translateX(25%);
    }

    &-box-text{
        max-width: 40rem;
        width:90%;
        // background-color: cadetblue;
        position: absolute;
        bottom:15%;
        right: 5%;

    }

    &-p{

        &:hover{

        }
    }
} */
.section__projects {
  padding-bottom: 10rem;
}
.section__projects-h3 {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  font-size: 2em;
  font-weight: 600;
}
.section__projects-wrapper {
  width: 100%;
  margin: 5rem auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
}
.section__projects-box-foto {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}
.section__projects-box-foto:hover .section__projects-p {
  animation: goOut 1.5s ease 1 both;
}
.section__projects-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__projects-overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 1s ease;
}
.section__projects-overlay:hover {
  background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.8;
}
.section__projects-p {
  color: var(--color-text);
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 600;
  padding: 0.5rem 1.5rem;
  background-color: var(--color-primary);
  border: 1px solid var(--color-btn);
  border-radius: 0.5rem;
  opacity: 0;
  position: absolute;
}
@keyframes goOut {
  from {
    opacity: 0;
    transform: translateY(200%);
  }
  to {
    opacity: 0.7;
    transform: translateY(0%);
  }
}

.section__about {
  position: relative;
  padding: 5rem 0;
}
.section__about::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--color-bg2);
  position: absolute;
  top: 0;
  z-index: 1;
  border-top: 1px solid var(--color-line);
  border-bottom: 1px solid var(--color-line);
  transform: skew(0, 4deg);
  pointer-events: none;
}
.section__about-h3 {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  font-size: 2em;
  font-weight: 600;
  z-index: 2;
  position: relative;
}
.section__about-wrapper-grid {
  width: 90%;
  margin: 5rem auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  position: relative;
  z-index: 2;
}
.section__about-img {
  opacity: 0.6;
  border-radius: 1rem;
  grid-column: 1/3;
  grid-row: 1/4;
}
.section__about-txt-about {
  line-height: 2rem;
  font-size: 1.5em;
  transition: all 0.5s ease;
  grid-column: 3/6;
  grid-row: 1/1;
}
.section__about-txt-about:hover {
  color: var(--color-hover);
}
.section__about-h4 {
  text-align: start;
  font-size: 1.5em;
  font-weight: 600;
  grid-column: 3/6;
}
.section__about-h4::after {
  content: "";
  display: block;
  background-color: var(--color-line);
  height: 1px;
}
.section__about-column-data {
  grid-column: 3/4;
}
.section__about-column-name {
  grid-column: 4/6;
}
.section__about-data {
  font-size: 1.4em;
  font-weight: 600;
  margin: 0 0 2rem 0;
  transition: all 0.5s ease;
}
.section__about-data:hover {
  color: var(--color-hover);
}
.section__about-p {
  font-size: 1.1em;
  margin: 0 0 2rem 0;
  transition: all 0.5s ease;
}
.section__about-p:hover {
  color: var(--color-hover);
}

.section__contactos {
  padding-bottom: 4rem 0 0 0;
}
.section__contactos-h3 {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  font-size: 2em;
  font-weight: 600;
}
.section__contactos-wrapper {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 5rem 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.section__contactos-txt {
  width: 50%;
  font-size: 1.2em;
  margin: 0 0 2rem 0;
}
.section__contactos-rrss {
  width: 25%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.section__contactos-svg {
  width: 2rem;
  height: 2rem;
  transition: all 0.5s ease;
}
.section__contactos-svg:hover {
  color: var(--color-hover);
  transform: scale(1.1);
}
.section__contactos-p {
  margin: 0 0 0 1rem;
}

.a__arrow {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1;
}
.a__arrow-arrow-up {
  width: 2rem;
  height: 2rem;
  opacity: 0.5;
  color: white;
}

/*--------------------RESPONSIVE--------------------*/
@media screen and (max-width: 1170px) {
  .header__container {
    width: 98%;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  .header__ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
  }
}