/**************------------------------- RESET -----------------------------***************/
:root {
  --color-primary: #272727;
  --color-primary: #1a1819;
  --color-secondary: #D4AA7D;
  --color-bg: #272727;
  --color-bg2: #151314;
  --color-text: #EFD09E;
  --color-h2: #D2D8B3;
  --color-hover: #D2D8B3;
  --color-btn:#d4aa7d81;
  --color-line: #d4aa7d81;
  --font-main: "Quicksand", sans-serif;
  --font-secondary: "Roboto Serif", serif;
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: black ;
  }
}
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
    animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
  object-fit: cover;
  /* opcional */
  -o-object-position: center center;
  object-position: center center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

::-moz-selection {
  background-color: var(--color-hover);
  color: var(--color-primary);
}

::selection {
  background-color: var(--color-hover);
  color: var(--color-primary);
}

form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--font-main);
  color: var(--color-text);
  background-color: var(--color-primary);
  /* opcional */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  20% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  25% {
    -webkit-transform: translateX(-12.5%);
            transform: translateX(-12.5%);
  }
  45% {
    -webkit-transform: translateX(-12.5%);
            transform: translateX(-12.5%);
  }
  50% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  70% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  75% {
    -webkit-transform: translateX(-37.5%);
            transform: translateX(-37.5%);
  }
  95% {
    -webkit-transform: translateX(-37.5%);
            transform: translateX(-37.5%);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  20% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  25% {
    -webkit-transform: translateX(-12.5%);
            transform: translateX(-12.5%);
  }
  45% {
    -webkit-transform: translateX(-12.5%);
            transform: translateX(-12.5%);
  }
  50% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  70% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  75% {
    -webkit-transform: translateX(-37.5%);
            transform: translateX(-37.5%);
  }
  95% {
    -webkit-transform: translateX(-37.5%);
            transform: translateX(-37.5%);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@-webkit-keyframes slideRight {
  from {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@keyframes slideRight {
  from {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@-webkit-keyframes slideRight-name {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@keyframes slideRight-name {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@-webkit-keyframes slideLeft {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes slideLeft {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
body {
  color: var(--color-text);
}

.span {
  color: var(--color-hover);
}

.header__container {
  width: 100%;
  padding: 0 2rem 0 1rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.header__svg-logo {
  width: 4rem;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.header__svg-logo:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}
.header__svg-logo:hover .logo-ellipse {
  stroke: var(--color-hover);
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.header__svg-logo:hover .logo-txt {
  fill: var(--color-hover);
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.header__svg-menu {
  width: 2.5rem;
  height: 2.5rem;
  color: var(--color-text);
  display: none;
  cursor: pointer;
}
.header__nav-menu {
  width: 80%;
  font-size: 1.3em;
  -webkit-animation: slideRight 3s ease-out 1.5s both;
          animation: slideRight 3s ease-out 1.5s both;
}
.header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__li {
  margin: 0 0 0 10%;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  color: var(--color-btn);
}
.header__li :hover {
  color: var(--color-hover);
}
.header__a-nav {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.header__close-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: var(--color-text);
  cursor: pointer;
  display: none;
}
.header__close-button {
  width: 3rem;
  height: 3rem;
}

.section__name {
  width: 100%;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.section__name::before {
  content: "";
  display: block;
  width: 100%;
  height: 90%;
  background-color: var(--color-bg2);
  border-top: 1px solid var(--color-line);
  border-bottom: 1px solid var(--color-line);
  position: absolute;
  top: 8%;
  left: 0;
  -webkit-transform: skew(0, 5deg);
          transform: skew(0, 5deg);
}
.section__name-h1 {
  font-size: 6em;
  font-weight: 600;
  -webkit-transform: translateX(-25%);
          transform: translateX(-25%);
  position: relative;
  overflow: hidden;
}
.section__name-h1::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(21, 19, 20, 0)), to(rgba(21, 19, 20, 0.95)));
  background: linear-gradient(90deg, rgba(21, 19, 20, 0) 0%, rgba(21, 19, 20, 0.95) 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.section__name-h1::after {
  content: "";
  display: block;
  width: 120%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(21, 19, 20, 0)), color-stop(11%, rgb(21, 19, 20)));
  background: linear-gradient(90deg, rgba(21, 19, 20, 0) 0%, rgb(21, 19, 20) 11%);
  position: absolute;
  bottom: 0;
  left: -20%;
  z-index: 2;
  -webkit-animation: slideRight-name 4s ease-out both;
          animation: slideRight-name 4s ease-out both;
}
.section__name-h2 {
  font-size: 5em;
  font-weight: 600;
  color: var(--color-h2);
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
  overflow: hidden;
}
.section__name-h2::after {
  content: "";
  display: block;
  width: 70%;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, from(rgba(21, 19, 20, 0)), to(rgba(21, 19, 20, 0.95)));
  background: linear-gradient(270deg, rgba(21, 19, 20, 0) 0%, rgba(21, 19, 20, 0.95) 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.section__name-h2::before {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  background: rgb(21, 19, 20);
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-animation: slideLeft 4s ease-out both;
          animation: slideLeft 4s ease-out both;
}
.section__name-box-text {
  width: 45%;
  padding-bottom: 1rem;
  font-size: 1.1em;
  position: absolute;
  bottom: 3%;
  right: 3%;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.section__name-box-text:hover {
  color: var(--color-hover);
}

.section__projects {
  padding: 5rem 0;
}
.section__projects-h3 {
  width: 90%;
  max-width: 1600px;
  margin: auto;
  font-size: 2em;
  font-weight: 600;
}
.section__projects-wrapper {
  width: 90%;
  max-width: 1600px;
  margin: 4rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.section__projects-column {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.section__projects-box-foto {
  position: relative;
  overflow: hidden;
  padding: 0.7rem;
}
.section__projects-item {
  position: relative;
}
.section__projects-overlay {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.section__projects-overlay:hover {
  opacity: 0;
}

.section__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  position: relative;
  padding: 5rem 0;
}
.section__about::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--color-bg2);
  position: absolute;
  top: 0;
  z-index: 1;
  border-top: 1px solid var(--color-line);
  border-bottom: 1px solid var(--color-line);
  -webkit-transform: skew(0, 5deg);
          transform: skew(0, 5deg);
  pointer-events: none;
}
.section__about-h3 {
  width: 90%;
  max-width: 1600px;
  margin: auto;
  font-size: 2em;
  font-weight: 600;
  z-index: 1;
  position: relative;
}
.section__about-wrapper {
  width: 90%;
  max-width: 1600px;
  margin: 4rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 2;
}
.section__about-img {
  opacity: 0.7;
  width: 40%;
  max-width: 1200px;
  margin: 0 3% 0 0;
}
.section__about-p-name {
  font-size: 3rem;
  margin: 0 0 1rem 0;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.section__about-txt-about {
  width: 100%;
  font-size: 1.3rem;
  line-height: 1.8;
}
.section__about-txt-about:hover {
  color: var(--color-hover);
}
.section__about-column-studies {
  width: 90%;
  margin: 0 auto;
  max-width: 1600px;
  z-index: 2;
}
.section__about-sub-ttl {
  text-align: start;
  font-size: 1.5em;
  font-weight: 600;
  margin: 7% 0;
}
.section__about-sub-ttl::after {
  content: "";
  display: block;
  background-color: var(--color-line);
  height: 1px;
}
.section__about-year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  margin: 0 0 4% 0;
}
.section__about-data {
  font-size: 1.5em;
  font-weight: 600;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.section__about-data:hover {
  color: var(--color-hover);
}
.section__about-p {
  font-size: 1.2em;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.section__about-p:hover {
  color: var(--color-hover);
}

.section__contacts {
  padding: 2rem 0 0 0;
}
.section__contacts-h3 {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
  font-size: 2em;
  font-weight: 600;
}
.section__contacts-wrapper {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.section__contacts-txt {
  font-size: 1.2em;
  margin: 0 0 2rem 0;
}
.section__contacts-rrss {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section__contacts-svg {
  width: 2rem;
  height: 2rem;
  margin: 0 2rem 0 0;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.section__contacts-svg:hover {
  color: var(--color-hover);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.a__arrow {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1;
}
.a__arrow-arrow-up {
  width: 2rem;
  height: 2rem;
  opacity: 0.5;
  color: white;
}

/*--------------------------------------------------RESPONSIVE---------------------------------------------------*/
@media screen and (max-width: 1450px) {
  .section__name-h1 {
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    -webkit-transform: translateX(-15%);
            transform: translateX(-15%);
  }
}
@media screen and (max-width: 1300px) {
  .section__name-h1 {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }

  .section__name-h2 {
    -webkit-transform: translateX(18%);
            transform: translateX(18%);
  }
}
@media screen and (max-width: 1120px) {
  .section__name-h1 {
    font-size: 5.5em;
  }

  .section__name-h2 {
    font-size: 4.5em;
  }
}
@media screen and (max-width: 1050px) {
  .section__name-box-name {
    text-align: center;
  }

  .section__name-h1 {
    font-size: 5em;
    margin-bottom: 0.7rem;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }

  .section__name-h2 {
    font-size: 4em;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }

  .section__name-box-text {
    font-size: 1em;
    bottom: 5%;
  }

  .section__about-p-name {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 950px) {
  .section__about-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .section__about-img {
    width: 90%;
    height: 88vh;
    margin: 0 auto 5%;
  }

  .section__about-box-txt {
    width: 90%;
  }
}
@media screen and (max-width: 850px) {
  .section__name {
    min-height: 80vh;
  }

  .section__name-h1 {
    font-size: 4em;
  }

  .section__name-h2 {
    font-size: 3em;
  }

  .section__name-box-text {
    font-size: 0.9em;
  }

  .header__svg-logo {
    width: 3rem;
  }

  .header__nav-menu {
    width: 80%;
    font-size: 1.1em;
  }

  .section__projects-box-foto {
    padding: 0.5rem;
  }
}
@media screen and (max-width: 660px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }

  .header__nav-menu {
    display: none;
  }

  .header__svg-menu {
    display: block;
  }

  .header__nav-menu.active {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    background-color: var(--color-primary);
    color: var(--color-primary);
    display: block;
    -webkit-animation: slideMenu 1s ease;
            animation: slideMenu 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  @-webkit-keyframes slideMenu {
    from {
      -webkit-transform: translateX(150%);
              transform: translateX(150%);
    }
    to {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
  }
  @keyframes slideMenu {
    from {
      -webkit-transform: translateX(150%);
              transform: translateX(150%);
    }
    to {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
  }
  .header__nav-menu.active .header__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header__nav-menu.active .header__a-nav {
    width: 100%;
    font-size: 3.5rem;
    margin: 3rem 0;
    color: var(--color-text);
  }
  .header__nav-menu.active .header__close-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .section__name::before {
    height: 90%;
  }

  .section__name-h1 {
    font-size: 3.5em;
  }

  .section__name-h2 {
    font-size: 2.5em;
  }

  .section__name-box-text {
    width: 60%;
    font-size: 0.8em;
  }

  .section__projects {
    padding-bottom: 2rem;
  }

  .section__projects-wrapper {
    width: 90%;
    max-width: 1400px;
    margin: 3rem auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .section__projects-column {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .section__projects-box-foto {
    padding: 0.7rem;
  }

  .section__about-data {
    font-size: 1.2em;
    font-weight: 500;
  }

  .section__about-p {
    font-size: 1em;
  }

  .section__about-txt-about {
    text-align: center;
  }

  .section__about-p-name {
    text-align: center;
  }

  .section__contactos-txt {
    font-size: 1em;
  }

  .section__contactos-svg {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 2rem 0 0;
  }

  .section__contactos-p {
    font-size: 0.7em;
  }

  .a__arrow-arrow-up {
    width: 1.5rem;
    height: 1.5rem;
  }
}
@media screen and (max-width: 550px) {
  .section__name-h1 {
    font-size: 3em;
  }

  .section__about-p-name {
    font-size: 2.3rem;
    text-align: center;
  }

  .section__about-img {
    width: 100%;
  }
}
@media screen and (max-width: 470px) {
  .section__name::before {
    height: 80%;
  }

  .section__name-h1 {
    font-size: 2.5em;
  }

  .section__name-h2 {
    font-size: 2.3em;
  }

  .section__name-box-text {
    bottom: 13%;
  }

  .section__projects {
    padding: 0;
  }

  .section__about-p-name {
    font-size: 2.1rem;
  }

  .section__about-txt-about {
    font-size: 1.1rem;
    text-align: center;
  }
}