
@keyframes slide{
    0%{
        transform: translateX(0%);
    }
    20%{
        transform: translateX(0%);
    }
    25%{
        transform: translateX(-12.5%);
    }
    45%{
        transform: translateX(-12.5%);
    }
    50%{
        transform: translateX(-25%);
    }
    70%{
        transform: translateX(-25%);
    }
    75%{
        transform: translateX(-37.5%);
    }
    95%{
        transform: translateX(-37.5%);
    }
    100%{
        transform: translateX(-50%);
    }
} 

@keyframes slideRight{
    from{
      transform: translateX(200%);
    }
    to{
      transform: translateX(0%);
    }
}

@keyframes slideRight-name{
    from{
      transform: translateX(0%);
    }
    to{
      transform: translateX(100%);
    }
}

@keyframes slideLeft{
    from{
      transform: translateX(0%);
    }
    to{
      transform: translateX(-100%);
    }
}