@import "_reset";

body{
    // background-color: white; /*Temporal*/
    // color: black;
}

.span{
    color: var(--color-hover);
}

.header{
    // border-bottom: 1px solid #d4aa7d91;

    &__container{
        width: 98%;
        margin: auto;
        //background-color: rgb(206, 56, 1);

        display: flex;
        flex-flow:row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    &__svg-logo{
        width: 4rem;
        transition: all 1s ease;
        
        &:hover{
            transform: scale(1.1);
        }

        &:hover .logo-ellipse{
            stroke: var(--color-hover);
            transition: all .7s ease;
        }
        &:hover .logo-txt{
            fill: var(--color-hover);
            transition: all .7s ease;
        }
    }
   
    &__nav-menu{
        width: 50%;
        font-size: 1.3em;
    }

    &__ul{
        //background-color: green;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
    }

    &__li{
        // background-color: red;
        margin: 0 0 0 10%;
        transition: all .5s ease;

        :hover{
            color: var(--color-hover);
        }

        a {
            //padding: 2rem 0 2rem 0;             //preguntar sobre lineas en hover,por que no funciona el padding.
        }
    }
    
    // Diseño alternativo con linea debajo

    // &__li::after{
    //     content: "";
    //     display: block;
    //     opacity: 0;
    //     width:100%;
    //     height:1px;
    //     background-color: var(--color-hover); 
    //     transition: all 1s ease;
    // }
    // &__li:hover::after{
    //     opacity: 1;
    // }

    &__a-nav{                     
        // background-color: orange;
        padding: .4rem 1.2rem;
        border: 1px solid var(--color-btn);
        color: var(--color-btn);
        border-radius: .5rem; 
        transition: all .5s ease;

        &:hover{
            border: 1px solid var(--color-hover);
        }
    }

}


.section__name{
    padding-bottom: 10rem;

    &-box-name{
        height: 70vh;
    }

    &-h1{
        //background-color: rgb(178, 240, 115);
        color: var(--color-text);
        font-size: 4em;
        font-weight: 600;
        margin: 5% 0 0 15%;
    }
    &-h2{
        //background-color: chocolate;
        color: var(--color-h2);
        font-size: 6em;
        font-weight: 400;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        margin: 3% 0 0 0%;
    }

    &-box-text{
        width: 90%;
        margin: auto;
        //background-color: violet;
        
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;

        transition: all .5s ease;

    }

    &-p{
        width: 30%;

        &:hover{
            color: var(--color-hover);
        }
    }
}


.section__projects{
    padding-bottom: 10rem;
    //background-color: cadetblue;

    &-title-wrapper{
        //background-color: red;
        //border-bottom: 1px solid var(--color-line);

        &::after{
            content: "";
            display: block;
            height: 1px;
            background-color: var(--color-line);
            transform: skew(0, 7deg);
            transform-origin: right;

            transition: all .5s ease;
        }
    }

    &-h3{
        width: 90%;
        margin: auto;
        font-size: 2em;
        font-weight: 600;
        padding: 0 0 1rem 0;
        //background-color: red;
        


    }

    &-wrapper{
        width: 90%;
        margin: 5rem auto;
        //background-color: orange;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5rem;
    }

    &-box-foto{
        position: relative;
        border-radius: 3rem;
    }

    &-img{

    }

    &-overlay{
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: .8;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 1s ease;

        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;

        &:hover{
            opacity: 0;
        }
    }

    &-p{
        font-size: 1.2em;
        font-weight: 600;
        padding: .5rem 1rem;
        border: 1px solid var(--color-line);
        border-radius: .5rem; 
    }

    & .boxSeven{
        grid-column: 1/3;
    }
}


.section__about{
    padding-bottom: 10rem;
    //background-color: rgb(255, 157, 0);

    &-title-wrapper{
        //border-bottom: 1px solid var(--color-line);

        &::after{
            content: "";
            height: 1px;
            display: block;
            background-color: var(--color-line);
            transform: skew(0, 7deg);
            transform-origin: right;
        }
    }

    &-h3{
        width: 90%;
        margin: auto;
        font-size: 2em;
        font-weight: 600;
        padding: 0 0 1rem 0;
       // background-color: red;
    }

    &-wrapper-grid{
        width: 90%;
        margin: 5rem auto;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 2rem;
    }

    &-img{
        background-color: red;
        opacity: .5;
        border-radius: 1rem;

        grid-column: 1/3;
        grid-row: 1/4;
    }

    
    &-txt-about{
        // background-color: yellow;
        line-height: 2rem;
        font-size: 1.2em;
        //background-color: rgb(22, 123, 118);
        transition: all .5s ease;
    
        grid-column: 3/6;
        grid-row: 1/1;
    
        &:hover{
            color: var(--color-hover);
        }
    }

    &-h4{
        text-align: center;
        font-size: 1.5em;
        font-weight: 600;
        //background-color: rgb(218, 141, 0);
        grid-column: 3/6;

    }

    &-column-data{
        //background-color: rgb(33, 112, 4);
        grid-column: 3/4;
    }

    &-column-name{
        //background-color: crimson;
        grid-column: 4/6;
    }

    &-data{
        font-size: 1.2em;
        font-weight: 600;
        margin: 0 0 2rem 0;
    }

    &-p{
        font-size: 1.1em;
        margin: 0 0 2rem 0;
    }
}

.section__contactos{
    padding-bottom: 4rem;
    //background-color: cadetblue;

    &-title-wrapper::after{
        content: "";
        display: block;
        height: 1px;
        background-color: var(--color-line);
        transform-origin: right;
        transform: skew(0, 7deg);
    }

    &-h3{
        width: 90%;
        margin: auto;
        font-size: 2em;
        font-weight: 600;
        padding: 0 0 1rem 0;
        //background-color: red;
        //border-bottom: 1px solid #d4aa7d91;
    }

    &-wrapper{
        width: 90%; 
        max-width: 1200px;
        margin: auto;
        padding: 5rem 0;
        //background-color: coral;

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    &-txt{
        width: 50%;
        //background-color: chartreuse;
        font-size: 1.2em;
    }

    &-rrss{
        width: 25%;
        //background-color: crimson;

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
    }

    &-svg{
        width: 2rem;
        height: 2rem;
        //margin: 0 0 0 2rem;

        &:hover{
            color: var(--color-hover);
        }
    }
}

.main__arrow{
    position: fixed;
    bottom: 2rem;
    right: 2rem;

    &-arrow-up{
        width: 2rem;
        height: 2rem;
        opacity: .5;
        color: white;
    }
}
