@import "_reset";

body{
  // background-color: white; /*Temporal*/
  color: var(--color-text);
}
.span{
  color: var(--color-hover);
}


.header{
  
  &__container{
    width: 98%;
    margin: auto;
    //background-color: rgb(206, 56, 1);

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    position: relative;
    overflow: hidden;
  }

  &__svg-logo{
    width: 4rem;
    transition: all 1s ease;

    &:hover {
      transform: scale(1.1);
    }

    &:hover .logo-ellipse {
      stroke: var(--color-hover);
      transition: all 0.7s ease;
    }
    &:hover .logo-txt {
      fill: var(--color-hover);
      transition: all 0.7s ease;
    }
  }

  &__box-svg-menu{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--color-text);

    display: none;
  }

  &__svg-menu{
    width: 3rem;
    height: 3rem;
    color: var(--color-primary);
    cursor: pointer;
  }

  &__nav-menu{
    width: 80%;
    font-size: 1.3em;
    //animation: slideRight 3s ease  1 5s forwards;
  }
  @keyframes slideRight{
    from{
      transform: translateX(150%);
    }
    to{
      transform: translateX(0%);
    }
  }

  &__nav-menu.activo{
    width: 70%;
    background-color: mediumslateblue;
    border-radius: 50% 50%;
    font-size: 1.1em;
    z-index: 1;

    position: absolute;
    top: -88%;
    right: -9%;
  }

  &__ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
  }

  &__ul.activo{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 10rem 7rem;
  }

  &__li{
    // background-color: red;
    margin: 0 0 0 10%;
    transition: all 0.5s ease;

    :hover {
      color: var(--color-hover);
    }
  }

  &__li.activo{
      background-color: rgb(210, 0, 0);
      margin-bottom: 1rem;
  }

  &__a-nav{
    // background-color: orange;
    padding: 0.4rem 1.2rem;
    border: 1px solid var(--color-btn);
    color: var(--color-btn);
    border-radius: 0.5rem;
    transition: all 0.5s ease;

    &:hover {
      border: 1px solid var(--color-hover);
    }
  }
}

.section__name{
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;

  &::before{
  content: "";
  display: block;
  width: 100%;
  height: 90%;
  background-color: var(--color-bg2);
  border-top: 1px solid var(--color-line);
  border-bottom: 1px solid var(--color-line);
  position: absolute;
  top: 8%;
  left: 0;
  transform: skew(0, 4deg);
  }

  &-h1{
  font-size: 6em;
  font-weight: 600;
  transform: translateX(-25%);
  position: relative;
  overflow: hidden;

    &::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(21,19,20,0) 0%, rgba(21,19,20,.95) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    }

    &::after{
    content: '';
    display: block;
    width: 120%;
    height: 100%;
    background: linear-gradient(90deg, rgba(21,19,20,0) 0%, rgba(21,19,20,1) 11%);
    position: absolute;
    bottom: 0;
    left:-20%;
    z-index: 2;
    animation: slideRight 3s ease-out both;
    }
    @keyframes slideRight{
      from{
        transform: translateX(0%);
      }
      to{
        transform: translateX(100%);
      }
    }
  }

  &-h2{
  font-size: 5em;
  font-weight: 600;
  color: var(--color-h2);
  transform: translateX(20%);
  overflow: hidden;

  &::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, rgba(21,19,20,0) 0%, rgba(21,19,20,.95) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    }

  &::before{
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    background: rgb(21,19,20);
    position: absolute;
    bottom: 0;
    right: 0;

    animation: slideLeft 3s ease-out both;
  }
  @keyframes slideLeft{
      from{
        transform: translateX(0%);
      }
      to{
        transform: translateX(-100%);
      }
    }
  }

  &-box-text{
      width: 90%;
      max-width: 30rem;
      font-size: 1.2em;
      //background-color: violet;
      position: absolute;
      bottom: 3%;
      right: 3%;
      transition: all .9s ease;

      &:hover{
          color: var(--color-hover);
      }
  }
}

.section__projects{
  padding-bottom: 10rem;

  &-h3{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    font-size: 2em;
    font-weight: 600;
  }

  &-wrapper{
    width: 90%;
    max-width: 1200px;
    margin: 5rem auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }

  &-box-foto{
    position: relative;
    border-radius: 1rem;
    overflow: hidden;

    &:hover .section__projects-p {
      animation: goOut .7s ease 1 both; 

    }
  }

  &-item{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  &-overlay{
    width: 100%;
    height: 100%;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s ease;

    &:hover{
      opacity: 0.2;
    }
  }

  &-p{
    width: 100%;
    color: var(--color-text);
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 600;
    padding: 0.5rem 0;
    background-color: var(--color-primary);
   
    text-align: center;
    opacity: 0;
    position: absolute;
  }

  @keyframes goOut{
    from {
      opacity: 0;
      transform: translateY(200%);
    }
    to {
      opacity: 0.8;
      transform: translateY(0%);
    }
  }
}

.section__about{
  position: relative;
  padding: 5rem 0;

  &::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--color-bg2);
    position: absolute;
    top: 0;
    z-index: 1;
    border-top: 1px solid var(--color-line);
    border-bottom: 1px solid var(--color-line);
    transform: skew(0, 4deg);
    pointer-events: none;
  }

  &-h3{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    font-size: 2em;
    font-weight: 600;
    z-index: 2;
    position: relative;
    //background-color: green;
  }

  &-wrapper-grid{
    width: 90%;
    max-width: 1200px;
    margin: 5rem auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: relative;
    z-index: 2;
  }

  &-img{
    opacity: 0.5;
    border-radius: 1rem;
    width: 40%;
    max-width: 1200px;
    margin: 0 3% 0 0;
  }

  &-p-name{
    font-size: 1.5em;
    transition: all 0.5s ease;
    margin: 0 0 .5rem 0;
  }

  &-txt-about{
    font-size: 1.1em;
    line-height: 1.4;

    &:hover {
      color: var(--color-hover);
    } 
  }

  &-h4 {
    text-align: start;
    font-size: 1.5em;
    font-weight: 600;
    margin: 7% 0;
    //background-color: rgb(218, 141, 0);

    &::after {
      content: "";
      display: block;
      background-color: var(--color-line);
      height: 1px;
    }
  }

  &-year{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 0 4% 0;
  }

  &-data{
    font-size: 1.4em;
    font-weight: 600;
    transition: all 0.5s ease;

    &:hover {
      color: var(--color-hover);
    }
  }

  &-p{
    font-size: 1.2em;
    transition: all 0.5s ease;

    &:hover {
      color: var(--color-hover);
    }
  }
}

.section__contactos{
  padding-bottom: 4rem 0 0 0;

  &-h3 {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    font-size: 2em;
    font-weight: 600;
  }

  &-wrapper {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 5rem 0;
    //background-color: coral;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &-txt {
    //background-color: chartreuse;
    font-size: 1.2em;
    margin: 0 0 2rem 0;
  }

  &-rrss {
    width: 100%;
    //background-color: crimson;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  &-svg {
    width: 2rem;
    height: 2rem;
    margin: 0 2rem 0 0;
    transition: all 0.5s ease;

    &:hover {
      color: var(--color-hover);
      transform: scale(1.1);
    }
  }

  &-p {
    margin: 0 0 0 1rem;
  }
}

.a__arrow{
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1;

  &-arrow-up {
    width: 2rem;
    height: 2rem;
    opacity: 0.5;
    color: white;
  }
}


                                 /*--------------------RESPONSIVE--------------------*/


@media screen and (max-width: 1750px){
  .section__name-h1{
    transition: all .7s ease;
    transform: translateX(-20%);
  }
}

@media screen and (max-width:1450px){
    .section__name-h1{
        transition: all .7s ease;
        transform: translateX(-15%);
      }
}

@media screen and(max-width:1300px){
  .section__name-box-name{
        text-align: center;
  }
  .section__name-h1{
    transition: all .9s ease;
    transform: translateX(0%);
  }
  .section__name-h2{
    transition: all .9s ease;
    transform: translateX(0%);
  }

  .section__projects-wrapper{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .section__projects-box-foto{
    width: 60%;
  }
}

@media screen and (max-width: 1170px){
  .header__container {
    width: 98%;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  .header__ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
  }

  .section__name-box-text{
    width: 90%;
    max-width: 25rem;
    font-size: 1em;
  }
}

@media screen and (max-width:1000px){
  .section__name-h1{
        font-size: 5em;
    }
  .section__name-h2{
        font-size: 4em;
    }



}

@media screen and(max-width:900px){
  .section__about-wrapper-grid{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .section__about-img{
    width: 100%;
  }
}

@media screen and (max-width:850px){
    .section__name-h1{
        font-size: 4em;
    }
    .section__name-h2{
        font-size: 3em;
    }
    .section__name-box-text{
        font-size: .9em;
        bottom: 5%;
    }

    .header__svg-logo{
        width: 3rem;
    }
    .header__nav-menu{
        width: 80%;
        font-size: 1.1em;
    }

    .header__a-nav{
        padding: 0.3rem 1.1rem;
      }
}

@media screen and (max-width:660px){
    .header__container{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        position: relative;
    }
    .header__nav-menu{
        display: none;
    }
    .header__box-svg-menu{
        display: flex;
        position: absolute;
        top: -17%;
        right: -4%;
    }

    .section__name-h1{
        font-size: 3em;
    }
    .section__name-h2{
        font-size: 2em;
    }

    .section__name-box-text{
        max-width: 20rem;
        font-size: .8em;
        bottom: 7%;
    }

    .section__about-data{
      font-size: 1.2em;
      font-weight: 500;
    }
    .section__about-p{
      font-size: 1em;
    }
}
