*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
    scroll-behavior: smooth;      
}

body{
    font-size: 100%;
}

h1, h2, h3, h4, h5, h6{
    font-weight: inherit;
    font-size: inherit;
}

li{
    list-style-type: none;
}
a{
    display: block;
    text-decoration: none;
    color: inherit;
}
p a{
    display: inline;
}
img , picture{
    display: block;
    max-width: 100%;                  /* para q no supere el ancho de la caja */
    width: 100%;                      /* para q no crezca mas de su caja*/
    object-fit: scale-down;
}





.header{
    width: 100%;
    padding: 3rem 0;
}

.header .wrapper{         
    width: 90%;
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.h1-logo{
    font-size: 1.5rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.header .home{
    color: orange;
}

.header .ul{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.header .li{
    margin: 0 2rem;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.header .svg-menu{
    width: 1.5rem;
    height: 1.5rem;
    color: orange;
    cursor: pointer;
    display: none;
}



.blanco{
    width: 100%;
    padding: 5rem 0rem;
}

.blanco .wrapper{     
    width: 80%;
    max-width: 1400px;
    margin: auto;
    padding: 5rem 0 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.blanco .descripcion{
    margin-left: 3rem;
    text-align: left;
    font-size: 1.2rem;
}

.blanco .descripcion .titulo{
    width: 100%;
    font-size: 2em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}

.blanco .boton{    
    display: inline-block;                       
    border: orange solid 1px;           
    padding: 1rem 2rem;
    margin-top: 2rem;

    text-transform: uppercase;
    letter-spacing: 1px;
    color: orange;
    font-size: 0.7rem;
    font-weight: 300;
}




.amarillo{
    width: 100%;
    background-color: rgb(215, 141, 4);
    padding: 5rem 0;
}

.amarillo .wrapper{     
    width: 80%;
    max-width: 1400px;
    margin: auto;
    padding: 5rem 0 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.amarillo .descripcion{
    margin-right: 3rem;
    text-align:right;
    color: white;
    font-size: 1.2rem;
}

.amarillo .descripcion .titulo{
    width: 100%;
    font-size: 2em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}    

.amarillo .boton{                      
    display: inline-block;                       
    border: white solid 1px;           
    padding: 1rem 2rem;
    margin-top: 2rem;

    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    font-size: 0.7rem;
    font-weight: 300;
}



.footer{
    width: 100%;
    height: 100vh;
    background-color:rgb(68, 68, 68);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.footer .wrapper{        
   display: flex;
   flex-flow: column nowrap;
   justify-content: center;
   align-items: center;
}

.footer-logo{
    font-size: 6em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.footer .copy{
    color: white;
}

.footer .ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.footer .li{
    margin: 0 2rem;
    color: white;
}

.footer-svg{
    width: 1.5rem;
    height: 1.5rem;
}



@media screen and (max-width:1000px){
    .blanco .image{
        width: 30%;
    }
    .blanco .descripcion{
        width: 70%;
    }

    .amarillo .image{
        width: 30%;
    }
    .amarillo .descripcion{
        width: 70%;
    }
}


@media screen and (max-width:850px){
    .header .li{
        margin: 0 1rem;
    }

    .blanco .wrapper{    
        width: 90%; 
        padding: 3rem 0 2rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .amarillo .wrapper{    
        width: 90%; 
        padding: 3rem 0 2rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .blanco .image{
        width: 50%;
        margin-bottom: 3rem;
    }

    .amarillo .image{
        width: 50%;
        margin-top: 3rem;
    }

    .blanco .descripcion{
        width: 90%;
    }

    .amarillo .descripcion{
        width: 90%;
    }
}


@media screen and (max-width:600px){
    .header .ul{
        display: none;
    }

    .header .svg-menu{
        display: block;
    }

    .blanco .wrapper{    
        width: 90%; 
        padding: 2rem 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .amarillo .wrapper{    
        width: 90%; 
        padding: 2rem 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .blanco .image{
        width: 70%;
        margin-bottom: 3rem;
    }

    .amarillo .image{
        width: 70%;
        margin-top: 3rem;
    }

    .blanco .descripcion{
        width: 90%;
        margin-left: 0rem;
    }

    .amarillo .descripcion{
        width: 90%;
        margin-right: 0rem;
    }
}

@media screen and ( max-width: 400px){
    .blanco .wrapper{    
        padding: 0;
    }

    .amarillo .wrapper{    
        padding: 0;
    }

    .blanco .descripcion{
        width: 95%;
    }

    .footer-logo{
        font-size: 5em;
    }

    .footer .li{
        margin: 0 1rem;
        color: white;
    }
    
    .footer-svg{
        width: 1.3rem;
        height: 1.3rem;
    }
}