@import"_reset";

body{
    background-color: var(--bg-color);
}

.header{
    width: 100%;
    background-color: var(--header-color);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;


    &_wrapper-header-up{
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding: 0 0 1rem 0;
    }

    &_box-logo{
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
    }

    &_img-logo{
        width: 10rem;
    }
    
    &_h1-logo{
        font-size: 4rem;
        color: white;
        text-align: center;
        font-family: 'Lobster', cursive;
        cursor: pointer;
    }

    &_contactos{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        color: #bdaf95;
    }

    &_item-contact{
        margin: .2rem 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        user-select: text;
    }

    &_a-rrss{
        transition: all .5s ease;

        &:hover{
            color: var(--hover-color);
        }
    }

    &_svg-rrss{
        margin: 0 .5rem;
    }

    &_nav-menu{
        width: 100%;
        padding: 1rem 0;
        background-color: var(--nav-bg);
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }

    &_box-btns{
        display: flex; 
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
    }

    &_button{
        margin: 0 4rem;
        text-transform: uppercase;
        font-size: 1rem;
        //color: white;
        color: var(--txt-button);
        font-family: 'Titan One', cursive;
        border: 2px solid #fceccf;
        border-radius: 2rem;
        padding: .5rem 1rem;
        cursor: pointer;
        transition: .7s all ease;
        
        &:hover{
            background-color: var(--hover-color);
        }

        &:focus{
            background-color: var(--hover-color);
        }
    }

    &_svg-basket{  
        width: 2rem;
        height: 2rem;
        color: var(--txt-button);
        cursor: pointer;
        transition: all .7s ease;

        &:hover{
            color: var(--hover-color);
        }
    }

    &_svg-menu{
        width: 2rem;
        height: 2rem;
        color: var(--txt-button);
        cursor: pointer;
        display: none;
    }

    &_close-btn{
        width: 2rem;
        height: 2rem;
        color: var(--txt-button);
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
    }
}

.gallery{
    width: 100%;

    &_wrapper-items{
        width: 90%;
        max-width: 1500px;
        margin: 5rem auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }

    &_item{
        position: relative;
        overflow: hidden;

        &:hover .gallery_overlay{
            opacity: .8;
            transform: translateY(0%);
        }
    }

    &_svg-close{
        display: none;
    }

    &_overlay{
        width: 100%;
        height: 100%;
        background-color: var(--overlay-bg);
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: all .7s ease;
        transform-origin: top;
        transform: translateY(-100%);
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: flex-end;
    }

    &_button-product{
       text-transform: uppercase;
       color: white;
       font-family: 'Titan One', cursive;
       border: 2px solid white;
       border-radius: 2rem;
       padding: .5rem 1rem;
       margin-bottom: 1rem;
       cursor: pointer;
    }
}

.desactive{
    display: none;
}

.pop_up{
    position: relative;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    display: none;


    &-img{
        width: 40%;
        opacity: 1;
    }

    &-svg{
        position: absolute;
        top: 1rem;
        right: 1rem;
        fill: white;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
    }

    &-p{
        font-size: 1.5rem;
        text-transform: uppercase;
        font-family: 'Titan One', cursive;
        color: white;
        margin: 2rem 0;
    }

}

.open{
    display: flex;
}

.footer{
    width: 100%;
    background-color: var(--bg-footer);
    padding: 1rem 2rem;

    &_contactos{
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;

        color: var(--txt-button);
        font-size: 1.2rem;
        font-weight: 600;
    }

    &_a-rrss{
        transition: all .5s ease;

        &:hover{
            color: var(--hover-color);
        }
    }

    &_svg-rrss{
        margin: .3rem 0;
    }
}


/*-------------------------Responsive-----------------------*/

@media screen and(max-width: 1050px){
    .header_button{
        margin: 0 2rem;
    }

    .gallery_wrapper-items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .pop_up-img{
        width: 60%;
    }
}

@media screen and(max-width: 800px){

    .header_nav-menu{
        justify-content: flex-end;
    }

    .header_box-btns{
        width: 100%;
        height: 100%;
        padding: 2rem;
        background-color: var(--nav-bg);

        display: flex; 
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: -150%;
        z-index: 2;
        transition: all .5s ease-out;
    }

    .header_box-btns.active{
        right: 0;
    }

    .header_button{
        margin: 1rem;
    }

    .header_svg-menu{
        display: flex;
        margin: 0 1.5rem 0 0; 
    }

    .header_svg-basket{
        margin: 0 2rem;
    }

    .header_close-btn{
        display: block;
    }
}

@media screen and(max-width: 550px){
    .header_img-logo{
        width: 7rem;
    }

    .header_h1-logo{
        font-size: 2.5rem;
    }

    .gallery_wrapper-items{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }

    .pop_up-img{
        width: 80%;
    }

    .pop_up-p{
        font-size: 1.2rem;
    }
}

@media screen and(max-width: 700px){
    .footer_contactos{
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
    }

    .footer_box-rrss{
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
    }

    .footer_svg-rrss{
        margin: 1rem .3rem 0rem;
    }
}