@charset "UTF-8";
/*---------------------------------- RESET --------------------------------------*/
/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

:root {
  --color-h1: darkslategrey;
  --bg-color: blanchedalmond;
  --bg-input: goldenrod;
  --bg-task: darkslategrey;
  --bg-section: #466969;
  --color-input: rgb(239, 193, 76);
  --color-btn-add: rgb(239, 193, 76);
  --color-tittle: goldenrod;
  --color-border: goldenrod;
  --color-svg: goldenrod;
  --color-txt-task: goldenrod;
  --color-txt-done: grey;
  --hover-color: rgb(245, 204, 100);
  --fonts: "Mochiy Pop One", sans-serif;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
  object-fit: cover;
  /* opcional */
  -o-object-position: center center;
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p, a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  min-height: 100vh;
  font-size: 100%;
  /* opcional */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

.etiqueta {
  width: 1%;
  /* Siempre en %, a excepción de algún icono o círculo */
  max-width: 1px;
  /*  Siempre en PX / REM */
}

* {
  /*box-shadow: 0 0 0 1px rgba(0, 255, 4, 0.4);*/
}

body {
  background-color: var(--bg-color);
  font-family: var(--fonts);
}

.h1-tittle {
  margin: 3rem auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  color: var(--color-h1);
}

.to_do {
  width: 80%;
  margin: auto;
  padding: 2rem 0;
  background-color: var(--bg-task);
  border-radius: 2rem;
}
.to_do-wrapper-input {
  width: 95%;
  margin: auto;
  padding: 2rem 0;
  background-color: var(--bg-input);
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.to_do-input {
  width: 90%;
  padding: 1.2rem 1rem;
  background-color: var(--color-input);
  border-radius: 2rem;
  color: var(--color-h1);
}
.to_do-button-add {
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--color-btn-add);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.to_do-button-add:hover {
  background-color: var(--hover-color);
}
.to_do-svg-plus {
  width: 2rem;
  height: 2rem;
  color: darkslategrey;
}
.to_do-section-task {
  width: 95%;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 2rem;
  background-color: var(--bg-section);
}
.to_do-h2-tittle {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--color-tittle);
  margin: 0 0 1rem 0;
}
.to_do-li-task-box {
  width: 95%;
  margin: 1rem auto;
  padding: 0.5rem 0.6rem;
  border: 1px solid var(--color-border);
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-txt-task);
}
.to_do-box-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-svg);
}
.to_do-button-task {
  margin: 0 0.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 1px solid var(--color-border);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.to_do-button-task:hover {
  border: 1px solid var(--hover-color);
}
.to_do-button-task:hover .to_do-svg-task {
  color: var(--hover-color);
}
.to_do-svg-task {
  width: 1.5rem;
  height: 1.5rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.to_do .box-desactive {
  width: 95%;
  margin: 1rem auto;
  padding: 0.5rem 0.5rem;
  border: 1px solid grey;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: grey;
  text-decoration: line-through;
}
.to_do .btn-desactive {
  margin: 0 0.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 1px solid grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.to_do .btn-desactive:hover {
  border: 1px solid var(--hover-color);
}
.to_do .btn-desactive:hover .svg-desactive {
  color: var(--hover-color);
}
.to_do .svg-desactive {
  color: grey;
  width: 1.5rem;
  height: 1.5rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media screen and (max-width: 1000px) {
  .to_do-input {
    width: 80%;
  }
}
@media screen and (max-width: 800px) {
  .to_do-li-task-box {
    padding: 0.3rem 0.5rem;
    border-radius: 2rem;
  }

  .to_do-button-task {
    margin: 0 0.3rem;
    width: 2.5rem;
    height: 2.5rem;
  }

  .to_do-svg-task {
    width: 1.3rem;
    height: 1.3rem;
  }

  .to_do .box-desactive {
    padding: 0.3rem 0.5rem;
    border-radius: 2rem;
  }

  .to_do .btn-desactive {
    margin: 0 0.3rem;
    width: 2.5rem;
    height: 2.5rem;
  }

  .to_do .svg-desactive {
    width: 1.3rem;
    height: 1.3rem;
  }
}
@media screen and (max-width: 600px) {
  .h1-tittle {
    font-size: 2rem;
  }

  .to_do-input {
    padding: 1rem;
  }

  .to_do-button-add {
    width: 3rem;
    height: 3rem;
  }

  .to_do-button-task {
    margin: 0 0.2rem;
    width: 2.2rem;
    height: 2.2rem;
  }

  .to_do-svg-task {
    width: 1.2rem;
    height: 1.2rem;
  }

  .to_do .btn-desactive {
    margin: 0 0.3rem;
    width: 2.2rem;
    height: 2.2rem;
  }

  .to_do .svg-desactive {
    width: 1.2rem;
    height: 1.2rem;
  }
}