*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    /*box-shadow: 0 0 0 1px rgba(0, 124, 2, 0.4);*/
}

html{
    font-size: 100%;
    scroll-behavior: smooth;  /* en el caso de ancla(enlace)*/

}
body{
    font-size: 100%;
    font-family: 'Roboto Serif', serif;
    color: rgba(100, 25, 25, 0.827);
}
form, input , select, textarea, button{
    display: block;
    font-size: inherit;
    font-family: inherit;
    background:transparent;
}
h1, h2, h3, h4, h5, h6{
    font-weight: inherit;
    font-size: inherit;
    color: rgba(100, 25, 25, 0.827);
}
li{
    list-style-type: none;
}
a{
    display: block;
    text-decoration: none;
    color: inherit;
}
p a{
    display: inline;
}
img , picture{
    display: block;
    max-width: 100%;   /* para q no supere el ancho de la caja */
    width: 100%;      /* para q no crezca mas de su caja*/
}

/* "Object-fit: scale-down;" - Usamos en el caso si ponemos altura a la caja. Para evitar que la imagen nunca se deforme, 
da igual q tamaño tiene la caja. */

img{
object-fit: cover;             /* se usa mas para imagenes que tienen que cubrir background */
/*object-fit: scale-down;*/    /* se usa mas para imagenes que tienen que cubrir caja y tener su tamaño segun la caja */
}




                                         /*------------------- HEADER----------------------*/


body{
  color: rgba(100, 25, 25, 0.827);
}

.h2{
    width: 90%;
    max-width: 1400px;
    margin: auto;
    text-align: center;
    line-height: 2rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 5rem 0;
}

.header{
    width: 100%;
    position: absolute;
}
.header .wrapper{
    width: 90%;
    max-width: 1600px;
    margin: auto;
    padding: 2rem 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.header .h1{
    max-width: 10rem;
}
.header .svg-menu{
    width: 4rem;
    fill: white;
    display: none;
    cursor: pointer;
}
.header .nav{
    font-size: 1.5em;
}
.header .ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.header .li{
    margin: 0 2rem;
    color: white;
}
.header .li:after{
    content: '';
    display: block;
    opacity: 0;
    width:100%;
    height:3px;
    background-color: white;
    transition: all .7s ease;   
}
.header .li:hover::after{
    opacity: 1;
}
.header .li.active::after{
    content: '';
    display: block;
    opacity: 1;
    width:100%;
    height:3px;
    background-color: white;   
}

.header .nav.active{
    background-color: green;
    color: rgba(100, 25, 25, 0.827);
    padding: 10rem 0;
    position: absolute;
    top: 0;
    left: 0;
}
.header .nav.active .ul{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.header .nav.active .li{
     margin: 0 0 3rem 0;
     background-color: red;
}


                                           /*-------------------SECTION-FOTO---------------------*/



.section-img{
    width: 100%;
    background-image:url(../assets/slide-1.jpg);
    padding: 25rem 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}



                                          /*-----------------------ARTICLE-----------------------*/



.article{
    width: 100%;
    color: rgba(100, 25, 25, 0.827);
    margin: 7rem 0;
}
.article .columnas{
    width: 90%;
    max-width: 1400px;
    margin: auto;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
}
.article .h3{
    margin-bottom: 1rem;
    text-align: left;
    font-weight: 600;
}
.article .p{
    margin-bottom: 3rem;
    text-align: left;
}

.article  .col-1{
    width: calc(50% - 7rem);
    margin-right: 7rem;
}
.article  .col-1 .p{
    line-height: 2rem;
}

.article  .col-2{
    width: calc(25% - 2rem);
    margin-right: 2rem;
}
.article  .col-3{
    width: calc(25% - 2rem);
    margin-right: 2rem;
}




                                          /*-----------------------GALERÍA-----------------------*/



.galeria{
    width: 100%;
}
.galeria .wrapper{
    width: 90%;
    max-width: 1400px;
    margin:auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.galeria .item{
    width: calc(25% - 4rem);
    position: relative;
    margin: 2rem;
}
.galeria .overlay{
    width: 100%;
    height: 100%;
    background-color: white;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content:flex-end;
    align-items: center;
    text-align: center;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 1s ease;
}
.galeria .item:hover .overlay{
    opacity: .7;
}
.galeria .item:hover .h3{   
    opacity: 1;
    transform: translateY(-300%);
    transform-origin: bottom;
}
.galeria .item:hover .h4{   
    opacity: 1;
    transform: translateY(-300%);
    transform-origin: bottom;
}

.galeria .h3{
    font-size: 1.2em;
    margin-bottom: .5rem;
    transition: all 1s ease;
}
.galeria .h4{
    font-size: 1.1em;
    transition: all 1s ease;
}



                                        /*-----------------------ARTICLE-YEARS-----------------------*/



.article.years{
    width: 100%;
    margin: 7rem 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.article.years .columnas{
    width: 90%;
    max-width: 1400px;
    margin: auto;
    margin-top: 5rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.article.years .columna{
    width: 40%;
}
.article.years .year{
    width: 100%;
    margin-bottom: 4rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.article.years .fecha{
    width:10%;
}
.article.years .titulo{
    width:80%;
}
.article.years .h3{
    text-align: left;
    margin-bottom: 1rem;
}
.article.years .p{
    text-align: left;
}



                                          /*-----------------------FORMULARIO-----------------------*/



.formulario{
    width: 90%;
    max-width: 1500px;
    background-image: url(../assets/parallax.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    padding: 10rem 0;
}
.formulario .wrapper{
    width: 90%;
    max-width: 725px;
    margin: auto;

    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.formulario .input{
    width:calc( 50% - 2rem );
    background:white;
    margin: 1rem;
    padding: 1rem;
}
.formulario .textarea{
    width:calc( 100% - 2rem );
    min-height: 200px;
    background: white;
    margin: 0 1rem 1rem;
    padding: 1rem;
}
.formulario .submit{
    background: white;
    padding: 1rem 2rem;
}




                                           /*---------------------------FOOTER--------------------------*/


.footer{
    width: 100%;
    padding: 10rem 0;
}
.footer .wrapper{
    width: 80%;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}
.footer .p-mail{
    font-size: 1.5em;
    margin-bottom: 3rem;
}
.footer .ul-rrss{
    font-size: 1.2em;
    margin-bottom: 3rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}








                                           /*----------------------- RESPONSIVE -------------------------*/


@media screen and (max-width: 1410px){
    .galeria .h3{
        font-size: 1em;
    }
    .galeria .h4{
        font-size: 1em;
    }
}

@media screen and (max-width: 1350px){
    .header .nav{
        font-size: 1.3em;
    }

    .article .columnas{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    .article .columnas .col{
        margin: 0 0 5rem 0;
        width: 100%;
    }
    .article .p{
        margin-bottom: 0rem;
    }
    .article .columnas .col-2{
        margin: 0 0 5rem 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }
    .article .columnas .col-3{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (max-width: 1300px){
    .galeria .item{
        width: calc(50% - 6rem);
        position: relative;
        margin: 3rem;
    }
}

@media screen and (max-width:1250px){
    .header .nav{
        display: none;
    }
    .header .svg-menu{
        display: block;
    }

}

@media screen and (max-width:1130px){
    .galeria .overlay{
        display: flex;
        flex-flow: column nowrap;
        justify-content:center;
        align-items: center;
        text-align: center;
        overflow: hidden;
    }
    .galeria .h3{
        transform: translateX(300%);
        transform-origin: right;
        transition: all 1s ease;
    }
    .galeria .h4{
        transform: translateX(-300%);
        transform-origin: left;
        transition: all 1s ease;
    }

    .galeria .item:hover .h3{   
        opacity: 1;
        transform: translateX(0%);
    }
    .galeria .item:hover .h4{   
        opacity: 1;
        transform: translateX(0%);
    }
}

@media screen and (max-width: 1100px){
    .article .columnas .col-3{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
    }
    .article .wrapper-col-3{
        margin: 0 0 5% 0;
    }
}

@media screen and (max-width:1000px){
    .article.years .columnas{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    .article.years .columnas .columna{
        width: 100%;
        margin-bottom: 5rem;
    }
    .article.years .columnas .columna .year{
        margin-bottom: 2rem;
    }
}

@media screen and (max-width:660px){
    .article{
        margin: 3rem 0;
    }
    .article .wrapper-col-3{
        margin: 0 0 3rem 0;
    }

    .galeria .item{
        width: calc(100% - 4rem);
        position: relative;
        margin: 2rem;
    }
}

@media screen and (max-width: 550px){
    .article .columnas .col-2{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
    }
    .article .columnas .wrapper-col-2{
        margin: 0 0 3rem 0;
    }
    .article .columnas .col{
        margin: 0 0 2rem 0;

    }
    .article .wrapper-col-3{
        margin:0;
    }
    .article .wrapper-txt{
        margin: 0 0 2rem 0;
    }


    .article.years{
        margin: 3rem 0;
    }
    .article.years .h2{
        line-height: 1.8rem;
        font-size: 1rem;
        padding: 2.5rem 0;
    }

    .footer{
        width: 100%;
        padding: 5rem 0;
    }
    .footer .wrapper{
        width: 80%;
        max-width: 1200px;
        margin: auto;
        text-align: center;
    }
    .footer .p-mail{
        font-size: 1em;
        margin-bottom: 3rem;
    }
    .footer .ul-rrss{
        font-size: 1em;
        margin-bottom: 3rem;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }
    .footer .rools{
        font-size: .7em;
    }
}

@media screen and (max-width:450px){
    .header .wrapper {
        padding: 0;
    }
    .header .svg-menu {
        width: 2.5rem;
    }
}