@import"_reset";

body{
    background-color: #D9B29C;
}

.title{
    text-align: center;
    margin: 2rem 0;
    font-size: 5rem;
    color: #53382F;
}

.wrapper{
    width: 80%;
    max-width: 1400px;
    margin: auto;
    background-color: #e6cab9;
    border-radius: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    &_input-box{
        width: 60%;
        max-width: 1500px;
        margin: 4rem 0 2rem;
        padding: 2rem 4rem;
        background-color: #D9B29C;
        border-radius: 1rem;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 20px -10px rgb(0 0 0 / 60%);
    }

    &_text{
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: white;
        font-size: 1.7rem;
        margin: 2rem 0;
    }

    &_input{
        width: 80%;
        background-color:white;
        padding: .5rem;
        border-radius: 1rem;
        margin: 0 0 2rem 0;
        color: #708A81;
        outline: none;
    }
}

.buttons{
    width: 100%;
    margin: 0 0 2rem 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;

    &_btn{
        background-color: #708A81;
        margin: .5rem .5rem 0;
        padding: .7rem 2rem;
        border-radius: 1.2rem;
        border: 2px solid #e6cab9;
        color: #e6cab9;
        text-transform: uppercase;
        font-size: .8rem;
        cursor: pointer;
        box-shadow: 0 0 30px -9px rgb(0 0 0 / 60%);
    }

    &_btn-lot{
        background-color: #708A81;
        margin: 0 .5rem;
        border-radius: 50%;
        border: 2px solid #e6cab9;
        width: 3rem;
        height: 3rem;
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: 0 0 30px -9px rgb(0 0 0 / 60%);
    }

    &_img{
        width: 2rem;
        height: 2rem;
    }
}

.wrapper_names{
    width: 80%;
    max-width: 1400px;
    margin: 2rem  auto;
    background-color: #e6cab9;
    border-radius: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    &-box-name{
        width: 60%;
        max-width: 1400px;
        margin: 1rem 0;
        font-size: 1.5rem;
        color: #708A81;
        border: 2px solid #D9B29C;
        border-radius: 1.5rem;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        cursor: pointer;

        &:hover .wrapper_names-box-svg{
            transform: translateX(0%);
        }
    }

    &-box-name.active{
        background-color: yellow;
    }

    &-box-txt{
        width: 90%;
        display: flex;
        flex-flow: row;
        justify-content: flex-start;
        align-items: baseline;
        margin-left: 2rem;
    }

    &-box-svg{
        width: 2.5rem;
        background-color: #e6cab9;
        border-radius: 50%;
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        transition: .7s all ease;
        transform: translateX(130%);
        border: 2px solid #D9B29C;
        cursor: pointer;

    }

    &-svg{
        width: 2rem;
        height: 2rem;
        fill: #708A81;
    }
}



@media screen and (max-width: 950px){
    .wrapper_input-box{
        padding: .5rem;
    }

    .wrapper_names-box-name{
        width: 70%;
    }
}


@media screen and (max-width: 750px){
    .wrapper_input-box{
        width: 90%;
        max-width: 1500px;
        padding: 1rem;
    }

    .wrapper_input-box{
        padding: .5rem;
    }
 
}


@media screen and (max-width: 430px){
    .buttons_btn{
        margin: .4rem .5rem 0;
        padding: .7rem 1.5rem;
    }

    .wrapper_names-box-name{
        width: 90%;
    }
}


@media screen and (max-width: 410px){
    .wrapper_input-box{
        width: 90%;
        max-width: 1500px;
        padding: .3rem;
    }

    .wrapper_input{
        width: 90%;
    }

    .wrapper_text{
        font-size: 1.5rem;
    }

}


@media screen and (max-width: 380px){
    .buttons{
        width: 100%;
        margin: 0 0 2rem 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .buttons_btn{
        margin: 0rem .4rem;
        padding: .7rem 1.5rem;
    }

    .buttons_btn-lot{
        margin: 0rem;
    }

}