@import '_resets';


body{
    font-family: var(--font-main);
}

.header{
    width:100%;
    border-bottom: 1px solid lightgrey;
}

.header__container{
    width: 90%;
    max-width: 1600px;
    margin: auto;
    padding: 2rem 0;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between; 
    align-items: center;
}

.header__wrapper-left{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-right: 3rem;
}

.header__img{
    width: 2.5rem;
    height: 2.5rem;
}

.header__logo-name{
    margin: 0 0 0 .6rem;
    line-height: .8em;
}
.header__h1{
    text-transform: uppercase;
    font-size: .7em;
    font-weight: 600;
    color: var(--txt-secondary);
}
.header__p{
    font-size: .7em;
}

.header__ul-left{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.header__point{
    width: .3rem;
    height: .3rem;
    background-color: rgb(255, 70, 70);
    border-radius: 50%;
    display: block;
}

.header__nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}
.header__ul-right{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.header__a{
    margin: 0 1rem;
    color: var(--color-link);
    font-size: 1em;
    transition: all .5s ease;
}
.header__a:hover{
    color: var(--color-link-hover);
}

.header__responsive{
    display: none;
    cursor: pointer;
}

.header__svg-menu{
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--color-link);
}
.header__a-menu{
    color: var(--color-link);
}




.section{
    width:100%;  
}    
.section__product{
    width: 80%;
    max-width: 1500px;
    margin: auto;
    padding: 7rem 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center; 
    align-items: center;
} 
.section__info{
    width: 45%;
} 
.section__h2{
    font-size: 1.5em;
    font-weight: 700;
    color: var(--txt-secondary);
    margin: 0 0 1rem 0;
}
.section__p{
    color: var(--txt-primary);
    font-size: .8em;
} 

.span{
    color: var(--color-span);
    
    animation: appear 3s ease 1;
}
@keyframes appear{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.section__img{
    width: 45%;
    padding-bottom: 6rem;

    animation: right-move 2s ease 1;
}   
@keyframes right-move{
    from{
        transform: translateX(200%);
    }
    to{
        transform: translateX(0%);
    }
}




.footer{
    width: 100%;
}
.footer__rrss{
    width: 80%;
    max-width: 1200px;
    margin: auto;
    padding: 4rem 0;
   
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

}
.footer__a{
    transition: all .7s ease;
}
.footer__a:hover{
    transform: scale(1.1);
}
.footer__svg{
    width: 1.8rem;
    height: 1.8rem;
    fill: var(--color-icons);
    transition: all .7s ease;
}   
.footer__svg:hover{
    fill: var(--color-icons-hover);
}
.footer__svg-vans{
    width: 3rem;
    height:3rem;
    fill: var(--color-icons);
}
.footer__svg-vans:hover{
    fill: var(--color-icons-hover);
}




@media screen and (max-width:1120px){
    .header__wrapper-left{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .header__ul-left-box{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .header__ul-left{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .header__nav{
        display: none;
    }

    .header__responsive{
        display: flex;
    }

    .header__wrapper-left{
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }
    
    .section__product{
        width: 60%;
        max-width: 1200px;
        margin: auto;
        display: block;
    }
    .section__info{
        width: 100%;
        text-align: center;
    }

    .section__img{
        width: 100%;
    }

} 


@media screen and (max-width:900px){
    .header__logo{
        margin-right: 0rem;
    }
}


@media screen and (max-width:770px){
}


@media screen and (max-width:600px){
    .header__container{
        width: 100%;
        padding: 1rem 0;
    }

    .header__wrapper-left{
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
    }

    .header__logo{
        width: 50%;
        padding: 0 1rem;
    }

    .header__a{
     margin: 0 1rem;
    }


    .header__point{
        margin: 0 .7rem 0;
        display: block;
    }

    .header__ul-left{
        width: 100%;
        margin: 2rem auto 0;
        padding: .3rem 0 0 0;
        border-top: 1px solid lightgray;

        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

   
    .section__h2{
        font-size: 1.1em;
        font-weight: 600;
        color: var(--txt-secondary);
        margin: 0 0 1rem 0;
    }

    .section__p{
        font-size: .6em;
    } 

}    




            

                   